header {
  box-sizing: border-box;
  height: 400px;
  width: 100vw; 
  align-items: center;
  text-align: center;
  position: fixed;
  background-color: #ffe3cf;
  line-height: 0;
  padding: 1.5em; 
  background-image: url(https://www.transparenttextures.com/patterns/arches.png);
}



img {
  margin-top: 70px;
  margin-bottom: -10px;
}