/* html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} */

/*
 * Global layout stuff
 */

#nav-bar {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee',sans-serif;
  width: 100vw;
  height: auto;
  z-index: 9999;
  font-size: x-large;
  background: #c48d66;
  color: #FFFF;
  position: fixed;
  padding: 1.5em;
}

#nav-bar button {
  background: white;
}
element.style {
align-items: center;}