#nav-bar {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee',sans-serif;
  width: 100vw;
  z-index: 9999;
  background: #c48d66;
  color: #fffcfa;
  font-size: 1em;
  position: fixed;
  padding: 1.5em;
}

/*button for dipslaying new tweet box*/ 
#nav-bar button {
  background: #f7ece4;
  color: #2b2b2b; 
}

#nav-bar button:hover {
  cursor: grab;
  box-shadow: -2px 0px 18px 9px rgba(176,121,81,1);
}
