section.new-tweet {
  display: none;
  margin: 0 auto;
  background-color: #f5e1d3;
  margin-top: 5vw;
  width: 80vw;
  border-radius: 10px;  
  border-style: double;
}

/*input field*/ 
#tweet-text {
  text-align: center;
  background: transparent;  
  border: none;
  border-bottom: 2px solid #2b2b2b;
  width: 70vw;
  height: 60px;
  margin-bottom: 10px;
  margin-left: 4vw;
  margin-right: 5vw;
  resize: none;   
  line-height: 80px;
  outline: none;
}

/*input message*/ 
h3 {
  padding-top: 50px;
  text-align: center;  
  font-style: italic;
  FONT-SIZE: inherit;
  opacity: .5;
} 

button {    
  margin-bottom: 10px;
  margin-left: 30px;
  border-radius: 10px;  
  color: #2b2b2b;
  background: #c48d66;
  font-family: 'Bungee',sans-serif;
}   

#counter  {
  float: right;
  color: #2b2b2b;
  font-family: 'Bungee', sans-serif;
  margin-right: 30px;
}

#counter.negative {
  color: #c47166;
}

/*error message display is toggled in client.js*/
.maxExceed {
  display: none;
  text-align: center;
  color: #c47166;
}

.minExceed {
  display: none;
  text-align: center;
  color: #c47166;
}


/*hover features*/ 
section.new-tweet:hover {
  box-shadow: -2px 0px 18px 9px rgba(196,141,102,0.52);
}
button:hover {
  cursor: grab;
}


/* responsive design mods*/ 
@media all and (min-width: 1000px) {
  main.container {
    padding-top: 11vw;
  }
  section.new-tweet {
    margin-left:50vw;
    background-color: #f5e1d3;
    border-style: double;
    margin-top: 3vw; 
    width: 40vw; 
    height: auto;   
    align-content: center;
    border-radius: 10px;  
  
  }
  #tweet-text {
    width: 35vw;
    margin-left: 25px;
  }
}


