section.new-tweet {
  margin: 0 auto;
  background-color: #f5e1d3;
  border: 2px;
  margin-top: 70px;
  width: 900px;
  height: auto;   
  align-content: center;
  border-radius: 10px;  

}

#tweet-text {
  align-content: center;  
  text-align: center;
  background: transparent;  
  border: black;
  width: 800px;
  height: 60px;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  margin-left: 48px;
  margin-right: 48px; 
  resize: none;   
  line-height: 80px;
  outline: none;
}

h3 {
  margin-top: 40px;
  color: black;
  text-align: center  ;  
} 

button {    
  margin-bottom: 10px;
  margin-left: 30px;
  border-radius: 10px;  
  color: black;
  background: #c48d66;
  font-family: 'Bungee',sans-serif;
  font-size: x-large;
  font-weight: bold;
  align-content: left ;
}   
#counter  {
  float: right;
  color: black;
  font-family: 'Bungee', sans-serif;
  margin-right: 30px;
}

#counter.negative {
  color: #c47166;
}