.tweets {
  width: 80vw;  
  margin: 0 auto; 
  background: #f4f1ec; 
  z-index: 8999;  
  text-align: center ;
  border: black;
  border-radius: 10px;  
  margin-bottom: 100px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
 
}   

article.boxed {
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 100px;  
  border-radius: 10px;
  background-color: #f5e1d3;
  
}


.tweets header {
  height: 60px; 
  padding-right: 20px;
  padding-left: 20px;
  background:#c48d66;
  position: inherit;
  width: 80vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;

} 

.tweets h2 {
  justify-content: start; 
  vertical-align: middle;
  font-size: inherit;
}

#handle {
  opacity: 0; 
  justify-content: end;
}

.tweets header img {
  height: 36px;
  width: 36px;
  border-style: double;
  border-radius: 100px;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;

}


article.boxed:hover #handle {
  opacity: 100;
}

article.boxed:hover{
  box-shadow: 0 8px 6px -6px black;
}


.tweets footer {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;  
  font-size: small;
  font-family: 'Source Sans Pro',   'FontAwesome';
}
i.fas.fa-flag {
  padding-right: 5px;
}
i.fas.fa-retweet {
  padding-right: 5px;
}
.empty {
  background-color: white;
}

@media all and (min-width: 1000px) {
  .tweets {
  width: 40vw;  
}
  article.boxed {
    width: 40vw;
    margin-left: 25vw;
  }
  .tweets header {
    height: 60px;
    border-style: none;
    width: inherit;
    margin-top: 0;
    margin-left: 0;
    padding-right: 20px;
    padding-left: 20px;
    background:#c48d66;
    position: inherit;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;

}
}
