.tweets {
  align-content: center;
  width: 900px;  
  margin: 0 auto; 
  background: #f5e1d3;  
  z-index: 8999;  
  text-align: center ;
  border: black;
  border-radius: 10px;  
  margin-bottom: 100px;
 
} 

.tweets article {
  margin: 0 auto;
  margin-top: 100px ;
  align-items: center;
  border-radius: 10px;
}
.tweets header {
  background:#c48d66;
  top: 500px;
  height: 150px;
  position: unset;  
  width: 900px;
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
} 