/*whole tweet section*/
.tweets {
  width: 80vw;  
  margin: 0 auto; 
  z-index: 8999;  
  text-align: center ;
  border-radius: 10px;  
  margin-bottom: 100px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
 
}   


/*individual tweet boxes*/ 
article.boxed {
  margin: 0 auto;
  margin-bottom: 5vw;
  margin-top: 0;
  border-radius: 10px;
  background-color: #f5e1d3;
}

.tweets header {
  height: 60px; 
  padding-right: 20px;
  padding-left: 20px;
  background:#c48d66;
  position: inherit;
  width: 80vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
} 

.tweets header img {
  height: 36px;
  width: 36px;
  border-style: double;
  border-radius: 100px;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}

.tweets h2 {
  font-size: inherit;
}

#handle {
  justify-content: end;
  opacity: 0;
}

.tweets p {
  opacity: .5;
}

.tweets footer {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;  
  font-size: small;
  font-family: 'Source Sans Pro',   'FontAwesome';
}

i.fas.fa-flag {
  padding-right: 5px;
}

i.fas.fa-retweet {
  padding-right: 5px;
}


/*hover features*/ 
article.boxed:hover #handle {
  opacity: 1;
}

article.boxed:hover{
  box-shadow: -2px 0px 18px 9px rgba(196,141,102,0.52);
  opacity: 1;
}

article.boxed:hover p {
  opacity: 1;
}


/* responsive design mods */ 
@media all and (min-width: 1000px) {
  .tweets {
  width: 40vw;  
  margin-top: 1vw;
}
  article.boxed {
    width: 40vw;
    margin-left: 25vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
  }
  .tweets header {
    height: 60px;
    border-style: none;
    width: inherit;
    margin-top: 0;
    margin-left: 0;
    padding: 1.5em; 
    background:#c48d66;
    position: inherit;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;

}
}
